<div class="month-graph">
	<hr>
	<div class="row">
	    <img src="/assets/images/newfolder/image103.jpg" width="300"/>
	</div>
	<h3 style="font-weight:bold">참깨와 솜사탕</h3>
	<hr>
	<div class="row">
	
	
		<div class="col-xs-2">
		    <p style=" text-align:center;"> 활동 </p>
		    <br>
		    <p style=" font-weight:bold; font-size:10px; text-align:center;"> 2013년 </p>
		    <p style=" font-weight:bold; font-size:10px; text-align:center;"> ~ </p>
		</div>
		<div class="col-xs-6">
		    <p style="font-size:10px; margin-left:2px; text-align:left;"> 잔잔한 음율을 주로 연주하는 어쿠스틱 밴드로 2013년부터 홍대근방에서 활동하며 대학생들을 비롯한 2030 세대의 많은 사랑을 받고있다.</p> 
		</div>
		<div class="col-xs-2">
		    <img src="/assets/images/detail/ic_page_calendar_check_gr_sm.png">
		</div>
		<div class="col-xs-2">
	    	<img src="/assets/images/detail/ic_page_calendar_star_gr_sm.png">
	    </div>
	</div>	
    	<hr>
    	
  	<div class="row">
												
														
														<img src="http://dimg.donga.com/wps/NEWS/IMAGE/2013/05/16/55172595.4.jpg" class="col-xs-5" style="margin-left:10px; height:150px;">
													
														
														<div class="col-xs-6">
														<p style="margin:10px; text-align:left;"> 멤버 </p>
														<p style="font-size: 8px; margin:5px; text-align:left; color:grey">최기덕(보컬, 기타, 작곡, 작사)</p>
														<p style="font-size: 8px; margin:5px; text-align:left; color:grey">박현수(퍼커션, 편곡)</p>
														<p style="font-size: 8px; margin:5px; text-align:left; color:grey"> 유지수(보컬, 작사, 작곡)</p>
														<p style="margin:10px; text-align:left;"> 사이트 </p>
														<p style="font-size: 7px; margin:5px; text-align:left; color:blue
														"> 인스타그램, 페이스북</p>
														</div>
													</div>
  <hr>
  <div class="row">
    <h4 style="text-align:left; margin-left:15px;"> 최근 SNS 게시물 </h4>
    <div class="col-xs-3">
			<p style="margin:15px; text-align:center;">2016.07.20</p>
		</div>
		<div class="col-xs-9">
      <p style="margin:5px; text-align:left;"> [Official] 참깨와 솜사탕 - [까만 방, 남은 이야기(Repackage)] 발매 & '여기까진가요' M/V 오픈. </p>
		</div>
		<div class="col-xs-12">
			<img src="/assets/images/facebook2.PNG" width="350"/>
		</div>
	</div>									
																
    <hr>
  <div class="row">
    <div class="col-xs-3">
			<p style="margin:15px; text-align:center;">2016.07.15</p>
		</div>
		<div class="col-xs-9">
      <p style="margin:5px; text-align:left;"> [Official] "정규 1집 [까만 방] 앨범이 지니고 있는 감성적인 부분으로 잔잔한 감성을 더 깊게 들려드릴 수 있을 것 같아요.  </p>
		</div>
		<div class="col-xs-12">
			<img src="/assets/images/facebook3.PNG" width="350"/>
		</div>
	</div>
  
    
    	
</div>
