<!--탭0			-->
										<div class="tab-1 resp-tab-content resp-tab-content-active" aria-labelledby="tab_item-0" style="display:block">
											<div class="tab_img">
												<div class="month-graph">
													<div>
													<h3 style="text-align:left">공아덕님을 위한 추천공연 ></h3>
														
                                                       <div class="gallery js-flickity" data-flickity-options='{ "freeScroll": true, "wrapAround": true,"autoPlay": true }'>
                                                          <div class="gallery-cell"></div>
                                                          <div class="gallery-cell"></div>
                                                          <div class="gallery-cell"></div>
                                                          <div class="gallery-cell"></div>
                                                          <div class="gallery-cell"></div>
                                                        </div>
                                                    </div>
                                                    <br>
                                                    <br>
                                                    <hr>
                                                
                                                    <div>
                                                    <h3 style="text-align:left">오늘의 공연 ></h3>
                                                    
                                                    
                                                    </div>
                                                    


                            
														
														<div class="about-gd">
															<div class="about-gd-left">
																<h5>1995</h5>
															</div>
															<div class="about-gd-right">
																<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam 
																	corporis suscipit laboriosam.</p>
															</div>
															<div class="clearfix"> </div>
														</div>
														<div class="about-gd">
															<div class="about-gd-left">
																<h5>2000</h5>
															</div>
															<div class="about-gd-right">
																<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam 
																	corporis suscipit laboriosam.</p>
															</div>
															<div class="clearfix"> </div>
														</div>
														
														<div class="about-gd">
															<div class="about-gd-left">
																<h5>2015</h5>
															</div>
															<div class="about-gd-right">
																<p>Ut enim ad minima veniam, quis nostrum exercitationem ullam 
																	corporis suscipit laboriosam.</p>
															</div>
															<div class="clearfix"> </div>
														</div>

													
												</div>
											</div>
										</div>