<div class="month-graph">
    <div class="row">
	    <div>
		<p style="margin-left:10px; margin-top:10px; text-align:left;"> 2016 지산 밸리록 뮤직앤드아트 페스티벌</p>
		<p style="margin-left:10px; margin-top:10px; text-align:left; color:grey">라이브콘서트|420분|전체관람가</p>
		</div>
	</div>
	<hr>
	<div class="row">
	    <img src="/assets/images/detail/image100.png">
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-2">
		    <p style=" text-align:left;"> 공연 </p>
		    <p style=" text-align:left;"> 장소 </p>
		</div>
		<div class="col-xs-6">
		    <p style="margin-left:2px; text-align:left;"> 지산 리조트 </p>
		    <p style="margin-left:2px; text-align:left;"> 2016.07.22 ~ 2016. 07. 24 </p>
		</div>
		<div class="col-xs-2">
		    <img src="/assets/images/detail/ic_page_calendar_check_gr_sm.png">
		</div>
		<div class="col-xs-2">
	    	<img src="/assets/images/detail/ic_page_calendar_star_gr_sm.png">
	    </div>
	</div>	
    	<hr>
    <p style="margin-left:10px; text-align:left;"> 출연 아티스트 </p>
    <div class="row">
    	    <div class="col-xs-1">
    	    </div>
    		<div class="col-xs-2">
    	    	<img src="/assets/images/detail/ic_artist_butten_profile_mt_sm.png">
    		</div>
        	<div class="col-xs-2">
    	    	<img src="/assets/images/detail/ic_artist_butten_profile_mt_sm.png">
    		</div>
    		<div class="col-xs-2">
    	    	<img src="/assets/images/detail/ic_artist_butten_profile_mt_sm.png">
    		</div>
    		<div class="col-xs-2">
    	    	<img src="/assets/images/detail/ic_artist_butten_profile_mt_sm.png">
    		</div>
    		<div class="col-xs-2">
    	    	<img src="/assets/images/detail/ic_artist_butten_profile_mt_sm.png">
    		</div>	
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-2">
		    <p style=" text-align:left;"> 가격 </p>
		    <p style=" text-align:left;"> 예매 </p>
		</div>
		<div class="col-xs-5">
		    <p style="margin-left:2px; text-align:left;"> 1일권(4차티켓)</p>
		    <p style="margin-left:2px; text-align:left;"> 인터파크 </p>
	    </div>
	    <div class="col-xs-5">
		    <p style="color:red; margin-left:2px; text-align:left;"> 144,000원</p>
	    </div>
	</div>   
    	<img src="/assets/images/detail/ic_page_ticket_butten_sm.png">
	<hr>
	<div class="row">
    	    
    		<div class="col-xs-3">
    	    	<p style="font-size:5px; text-align:left;"> 안내사항 </p>
    		</div>
        	<div class="col-xs-3">
    	    	<p style="font-size:5px; text-align:left;"> 상세정보 </p>
    		</div>
    		<div class="col-xs-2">
    	    	<p style=" font-size:5px; text-align:left;"> 리뷰 </p>
    		</div>
    		<div class="col-xs-2">
    	        <p style=" font-size:5px; text-align:left;"> 공연장정보 </p>
    		</div>
    		<div class="col-xs-1">
    	    	<p style="font-size:5px; text-align:left;"> QnA </p>
    		</div>	
	</div>
	<br>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> ※ 매수제한 : 1인 8매 </p>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> ※ 분실, 파손 등 어떠한 경우에도 재발권 및 입장이</p>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> 불가능하오니, 티켓보관에 유의해주시기 바랍니다. </p>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> ※  작품설명 내 노출되어 있는 페스티벌 안내는 관객 여러분의/p>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> 안전하고 즐거운 페스티벌 관람에 도움을 드리고</p>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> 각종 불편사항을 최소화하기 위해 준비되었습니다. 티켓 구매</p>
	<p style="font-size:10px; margin-left:10px; text-align:left;"> 전 아래 페스티벌 안내를 반드시 읽어주시기 바랍니다.</p>
	<br>
	<img src="/assets/images/detail/ic_page1_share_sm.png">
</div>
