
<!-- Trigger the modal with a button -->
<h4 style="margin:5px;text-align:right; color:#d70f5a; cursor: pointer;" data-toggle="modal" data-target="#myModal2" > My Artists </h4>

<img style="cursor: pointer" src="/assets/images/ic_bar_search_gr_sm.png" data-toggle="modal" data-target="#myModal2" >		
<img style="cursor: pointer" src="/assets/images/ic_bar_bell_wt_sm.png" data-toggle="modal" data-target="#myModal3">
<!-- Modal -->
<div id="myModal3" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
      
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      
        <h3><center>나의 알림</center></h3>
      </div>
      <div class="modal-body">
      <div class="month-graph">
      	<div class="row">
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img1_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> "수진"님이 "라이어"[뮤지컬]티켓을 선물하셨습니다. </p>
      		<p style="margin:5px; text-align:left; color:grey">방금전</p>
      		</div>
      		
      	</div>
      	
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img2_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> "mutnam"님이 나를 팔로우하였습니다. </p>
      		<p style="margin:5px; text-align:left; color:grey">3분 전</p>
      		</div>
      	</div>
      	
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img3_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> 10cm의 팬미팅 당일입니다. </p>
      		<p style="margin:5px; text-align:left; color:grey">5분 전</p>
      		</div>
      	
      	</div>
      	
      
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img4_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> 소란 여름 콘서트 ade의 예매가 시작됐어요. 서두르세요! 예매 바로가기. </p>
      		<p style="margin:5px; text-align:left; color:grey">30분 전</p>
      		</div>
      	</div>
      	
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img5_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> 샤이니의 공연날짜가 "D-1" 임박했어요. </p>
      		<p style="margin:5px; text-align:left; color:grey">1일 전</p>
      		</div>
      	</div>
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img3_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> 10cm의 새로운 SNS 게시물이 올라왔습니다. [페이스북]</p>
      		<p style="margin:5px; text-align:left; color:grey">2일 전</p>
      		</div>
      	</div>
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img8_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> 포코에 가입하신 것을 환영합니다.</p>
      		<p style="margin:5px; text-align:left;"> 궁금하신 점이 있으시면 눌러주세요!</p>
      		<p style="margin:5px; text-align:left; color:grey">3일 전</p>
      		</div>
      	</div>
      	
      	
      	
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img7_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> "포코팡"님이 소란 여름 콘서트 ade를 예매하셨습니다.</p>
      		<p style="margin:5px; text-align:left; color:grey">10분 전</p>
      		</div>
      	</div>
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img7_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> "송중기친구"님이 그린라이트[뮤지컬]에 리뷰를 남겼습니다.</p>
      		<p style="margin:5px; text-align:left; color:grey">1시간 전</p>
      		</div>
      	</div>
      	<div class="row">
      		<hr>
      		<div class="col-xs-3">
      		<img src="/assets/images/alramimg/ic_bell_profile_img7_sm.png">
      		</div>
      		<div class="col-xs-9">
      		<p style="margin:5px; text-align:left;"> "송중기친구"님이 갤러리에 사진을 추가했습니다.</p>
      		<p style="margin:5px; text-align:left; color:grey">3시간 전</p>
      		</div>
      	</div>
      </div>
      
    	
  
    	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>