<head>
<meta http-equiv="refresh" content="2; URL=/users/sign_in">
<meta name="keywords" content="automatic redirection">
</head>

<body style="background-color:#ffffff">
    <div class='row' style="height:100%;">
    <div class="loading col-xs-12 col-md-12" style="width:100%; height:100%;">
       <center style="height:100%;"> <img src="/assets/images/loading.png" style="position:relative; width:100%; height:100">
       </center>
    </div>   
    </div>
    <script>
        var i;
        for(i=0;i<10;i++){
             $( ".loading" ).fadeOut( "slow" ).fadeIn( "slow" );
        }
    </script>

</body>